<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <h1>Random Word</h1>
        <h2>Attempt Number {{ request.session.count }}</h2>
        <h3>{{ request.session.word }}</h3>
        <a href="/reset">Reset</a>
    </br>
</br>
        <form action="/">
            <input type="submit" value="Generate">
        </form>
    </div>
</body>
</html>